# Research diabetes data to gain information

This litte coding example will show you the basics of data science with python.
First we will add imports we need to import, shape and display our data:

We will import [**numpy**](http://www.numpy.org/), [**Pandas**](https://pandas.pydata.org/)  and [**matplotlib**](https://matplotlib.org). With this libaries we will be able to handle arrays, load data into our project, shape them to the state we need and plot graphics helping us to understand what this numbers mean basically.

Ok let us import this libaries

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt 
import matplotlib.gridspec as gridspec

#### Load the dataset

Next step will be to load a dataset this dataset is from https://archive.ics.uci.edu/ml/datasets/Diabetes+130-US+hospitals+for+years+1999-2008. 
This page is offering a lot of datasets for training or playing with it and learning data science and machine learning.

In [2]:
df = pd.read_csv("diabetic_data.csv", delimiter=',')

#### Check the Dataset

We have to go to the [**Diabetes data site**](https://archive.ics.uci.edu/ml/datasets/Diabetes+130-US+hospitals+for+years+1999-2008) we loaded the Dataset. Lets see what kind of additional Information they have for us.

The dataset represents 10 years (1999-2008) of clinical care at 130 US hospitals and integrated delivery networks. It includes over 50 features representing patient and hospital outcomes. Information was extracted from the database for encounters that satisfied the following criteria.

(1) It is an inpatient encounter (a hospital admission).
(2) It is a diabetic encounter, that is, one during which any kind of diabetes was entered to the system as a diagnosis.
(3) The length of stay was at least 1 day and at most 14 days.
(4) Laboratory tests were performed during the encounter.
(5) Medications were administered during the encounter.

The data contains such attributes as patient number, race, gender, age, admission type, time in hospital, medical specialty of admitting physician, number of lab test performed, HbA1c test result, diagnosis, number of medication, diabetic medications, number of outpatient, inpatient, and emergency visits in the year before the hospitalization, etc.

So let us see how the first lines of our Dataset look like:

In [3]:
df.head(5)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

#### No Exel Possible? How could we obtain first information without bigger transformation?

Currently we are not able to transform our data into an exel. Thats because of the size. Exel is not able to handle bigger sizes. But we can still get readable information with minimal effort out of the given dataframe.

In [4]:
df.shape

(101766, 50)

In [5]:
df.describe(include = 'all')

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
count,1.017660e+05,1.017660e+05,101766,101766,101766,101766,101766.000000,101766.000000,101766.000000,101766.000000,...,101766,101766,101766,101766,101766,101766,101766,101766,101766,101766
unique,NaN,NaN,6,3,10,10,NaN,NaN,NaN,NaN,...,1,4,4,2,2,2,2,2,2,3
top,NaN,NaN,Caucasian,Female,[70-80),?,NaN,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
freq,NaN,NaN,76099,54708,26068,98569,NaN,NaN,NaN,NaN,...,101766,47383,101060,101753,101765,101764,101765,54755,78363,54864
mean,1.652016e+08,5.433040e+07,NaN,NaN,NaN,NaN,2.024006,3.715642,5.754437,4.395987,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.026403e+08,3.869636e+07,NaN,NaN,NaN,NaN,1.445403,5.280166,4.064081,2.985108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.252200e+04,1.350000e+02,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,8.496119e+07,2.341322e+07,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,2.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.523890e+08,4.550514e+07,NaN,NaN,NaN,NaN,1.000000,1.000000,7.000000,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.302709e+08,8.754595e+07,NaN,NaN,NaN,NaN,3.000000,4.000000,7.000000,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,4.438672e+08,1.895026e+08,NaN,NaN,NaN,NaN,8.000000,28.000000,25.000000,14.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Shaping datasets for plotting it

Before we could start with displaying the data in different plots, we have to change it to a numeric writing. Because string is not supported by matplotlib diagramms.

encounter_id:
patient_nbr:
race:
gender:
age:
weight:
admission_type_id:
discharge_disposition_id:
admission_source_id:
time_in_hospital:
payer_code:
medical_specialty:
num_lab_procedures:
num_procedures:
num_medications:
number_outpatient:
number_emergency:
number_inpatient:
diag_1:
diag_2:
diag_3:
number_diagnoses:
max_glu_serum:
A1Cresult:
metformin:
repaglinide:
nateglinide:
chlorpropamide:
glimepiride:
acetohexamide:
glipizide:
glyburide:
tolbutamide:
pioglitazone:
rosiglitazone:
acarbose:
miglitol:
troglitazone:
tolazamide:
examide:
citoglipton:
insulin:
glyburide-metformin:
glipizide-metformin:
glimepiride-pioglitazone:
metformin-rosiglitazone:
metformin-pioglitazone:
change:
diabetesMed:
readmitted:

__But before we start shaping, we should know what the possible values are:

In [6]:
keys = [
"race", 
"gender",
"age",
"weight",
"admission_type_id",
"discharge_disposition_id",
"admission_source_id",
"time_in_hospital",
"payer_code",
"medical_specialty",
"num_lab_procedures",
"num_procedures",
"num_medications",
"number_outpatient",
"number_emergency",
"number_inpatient",
"diag_1",
"diag_2",
"diag_3",
"number_diagnoses",
"max_glu_serum",
"A1Cresult",
"metformin",
#"epaglinide",
#"ateglinide",
"chlorpropamide",
"glimepiride",
"acetohexamide",
"glipizide",
"glyburide",
"tolbutamide",
"pioglitazone",
"rosiglitazone",
"acarbose",
"miglitol",
"troglitazone",
"tolazamide",
#"xamide",
"citoglipton",
"insulin",
"glyburide-metformin",
"glipizide-metformin",
"glimepiride-pioglitazone",
"metformin-rosiglitazone",
"metformin-pioglitazone",
"change",
"diabetesMed",
"readmitted"]

for entry in keys:
    my_list = df[entry].values
    uniqueVals = np.unique(my_list)
    print("__" + entry + ":__")
    print(uniqueVals)

__race:__
['?' 'AfricanAmerican' 'Asian' 'Caucasian' 'Hispanic' 'Other']
__gender:__
['Female' 'Male' 'Unknown/Invalid']
__age:__
['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']
__weight:__
['>200' '?' '[0-25)' '[100-125)' '[125-150)' '[150-175)' '[175-200)'
 '[25-50)' '[50-75)' '[75-100)']
__admission_type_id:__
[1 2 3 4 5 6 7 8]
__discharge_disposition_id:__
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 22 23 24 25
 27 28]
__admission_source_id:__
[ 1  2  3  4  5  6  7  8  9 10 11 13 14 17 20 22 25]
__time_in_hospital:__
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14]
__payer_code:__
['?' 'BC' 'CH' 'CM' 'CP' 'DM' 'FR' 'HM' 'MC' 'MD' 'MP' 'OG' 'OT' 'PO' 'SI'
 'SP' 'UN' 'WC']
__medical_specialty:__
['?' 'AllergyandImmunology' 'Anesthesiology' 'Anesthesiology-Pediatric'
 'Cardiology' 'Cardiology-Pediatric' 'DCPTEAM' 'Dentistry' 'Dermatology'
 'Emergency/Trauma' 'Endocrinology' 'Endocrinology-Metabolism'
 'Family/GeneralPractice' 'Gastroenterology' 'Gynecology' 'Hematology'
 'Hematology/Oncology' 'Hospitalist' 'InfectiousDiseases'
 'InternalMedicine' 'Nephrology' 'Neurology' 'Neurophysiology'
 'Obsterics&Gynecology-GynecologicOnco' 'Obstetrics'
 'ObstetricsandGynecology' 'Oncology' 'Ophthalmology' 'Orthopedics'
 'Orthopedics-Reconstructive' 'Osteopath' 'Otolaryngology'
 'OutreachServices' 'Pathology' 'Pediatrics'
 'Pediatrics-AllergyandImmunology' 'Pediatrics-CriticalCare'
 'Pediatrics-EmergencyMedicine' 'Pediatrics-Endocrinology'
 'Pediatrics-Hematology-Oncology' 'Pediatrics-InfectiousDiseases'
 'Pediatrics-Neurology' 'Pediatrics-Pulmonology' 'Perinatology'
 'PhysicalMedicineandRehabilitation' 'PhysicianNotFound' 'Podiatry'
 'Proctology' 'Psychiatry' 'Psychiatry-Addictive'
 'Psychiatry-Child/Adolescent' 'Psychology' 'Pulmonology' 'Radiologist'
 'Radiology' 'Resident' 'Rheumatology' 'Speech' 'SportsMedicine' 'Surgeon'
 'Surgery-Cardiovascular' 'Surgery-Cardiovascular/Thoracic'
 'Surgery-Colon&Rectal' 'Surgery-General' 'Surgery-Maxillofacial'
 'Surgery-Neuro' 'Surgery-Pediatric' 'Surgery-Plastic'
 'Surgery-PlasticwithinHeadandNeck' 'Surgery-Thoracic' 'Surgery-Vascular'
 'SurgicalSpecialty' 'Urology']
__num_lab_procedures:__
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 111 113 114 118 120 121 126 129 132]
__num_procedures:__
[0 1 2 3 4 5 6]
__num_medications:__
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 72 74
 75 79 81]
__number_outpatient:__
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 33 34 35 36 37 38 39 40 42]
__number_emergency:__
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 18 19 20 21 22 24 25
 28 29 37 42 46 54 63 64 76]
__number_inpatient:__
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 21]
__diag_1:__
['10' '11' '110' '112' '114' '115' '117' '131' '133' '135' '136' '141'
 '142' '143' '145' '146' '147' '148' '149' '150' '151' '152' '153' '154'
 '155' '156' '157' '158' '160' '161' '162' '163' '164' '170' '171' '172'
 '173' '174' '175' '179' '180' '182' '183' '184' '185' '187' '188' '189'
 '191' '192' '193' '194' '195' '196' '197' '198' '199' '200' '201' '202'
 '203' '204' '205' '207' '208' '210' '211' '212' '214' '215' '216' '217'
 '218' '219' '220' '223' '225' '226' '227' '228' '229' '23' '230' '233'
 '235' '236' '237' '238' '239' '240' '241' '242' '244' '245' '246' '250'
 '250.01' '250.02' '250.03' '250.1' '250.11' '250.12' '250.13' '250.2'
 '250.21' '250.22' '250.23' '250.3' '250.31' '250.32' '250.33' '250.4'
 '250.41' '250.42' '250.43' '250.5' '250.51' '250.52' '250.53' '250.6'
 '250.7' '250.8' '250.81' '250.82' '250.83' '250.9' '250.91' '250.92'
 '250.93' '251' '252' '253' '255' '261' '262' '263' '266' '27' '271' '272'
 '273' '274' '275' '276' '277' '278' '279' '280' '281' '282' '283' '284'
 '285' '286' '287' '288' '289' '290' '291' '292' '293' '294' '295' '296'
 '297' '298' '299' '3' '300' '301' '303' '304' '305' '306' '307' '308'
 '309' '31' '310' '311' '312' '314' '318' '320' '322' '323' '324' '325'
 '327' '331' '332' '333' '334' '335' '336' '337' '338' '34' '340' '341'
 '342' '344' '345' '346' '347' '348' '349' '35' '350' '351' '352' '353'
 '354' '355' '356' '357' '358' '359' '36' '360' '361' '362' '363' '365'
 '366' '368' '369' '370' '372' '373' '374' '375' '376' '377' '378' '379'
 '38' '380' '381' '382' '383' '384' '385' '386' '388' '389' '39' '391'
 '394' '395' '396' '397' '398' '401' '402' '403' '404' '405' '41' '410'
 '411' '412' '413' '414' '415' '416' '417' '42' '420' '421' '422' '423'
 '424' '425' '426' '427' '428' '429' '430' '431' '432' '433' '434' '435'
 '436' '437' '438' '440' '441' '442' '443' '444' '445' '446' '447' '448'
 '451' '452' '453' '454' '455' '456' '457' '458' '459' '461' '462' '463'
 '464' '465' '466' '47' '470' '471' '473' '474' '475' '477' '478' '48'
 '480' '481' '482' '483' '485' '486' '487' '49' '490' '491' '492' '493'
 '494' '495' '496' '5' '500' '501' '506' '507' '508' '510' '511' '512'
 '513' '514' '515' '516' '518' '519' '52' '521' '522' '523' '524' '526'
 '527' '528' '529' '53' '530' '531' '532' '533' '534' '535' '536' '537'
 '54' '540' '541' '542' '543' '550' '551' '552' '553' '555' '556' '557'
 '558' '560' '562' '564' '565' '566' '567' '568' '569' '57' '570' '571'
 '572' '573' '574' '575' '576' '577' '578' '579' '58' '580' '581' '582'
 '583' '584' '585' '586' '588' '590' '591' '592' '593' '594' '595' '596'
 '598' '599' '600' '601' '602' '603' '604' '605' '607' '608' '61' '610'
 '611' '614' '615' '616' '617' '618' '619' '620' '621' '622' '623' '625'
 '626' '627' '632' '633' '634' '637' '640' '641' '642' '643' '644' '645'
 '646' '647' '648' '649' '652' '653' '654' '655' '656' '657' '658' '659'
 '66' '660' '661' '663' '664' '665' '669' '671' '674' '680' '681' '682'
 '683' '684' '685' '686' '690' '691' '692' '693' '694' '695' '696' '698'
 '7' '70' '700' '703' '704' '705' '706' '707' '708' '709' '710' '711'
 '714' '715' '716' '717' '718' '719' '720' '721' '722' '723' '724' '725'
 '726' '727' '728' '729' '730' '731' '732' '733' '734' '735' '736' '737'
 '738' '745' '746' '747' '75' '751' '753' '756' '759' '78' '780' '781'
 '782' '783' '784' '785' '786' '787' '788' '789' '79' '790' '791' '792'
 '793' '794' '795' '796' '797' '799' '8' '800' '801' '802' '803' '804'
 '805' '806' '807' '808' '810' '812' '813' '814' '815' '816' '817' '82'
 '820' '821' '822' '823' '824' '825' '826' '827' '831' '832' '833' '834'
 '835' '836' '837' '838' '839' '84' '840' '842' '843' '844' '845' '846'
 '847' '848' '850' '851' '852' '853' '854' '860' '861' '862' '863' '864'
 '865' '866' '867' '868' '870' '871' '873' '875' '878' '879' '88' '880'
 '881' '882' '883' '885' '886' '890' '891' '892' '893' '895' '897' '9'
 '903' '904' '906' '911' '913' '914' '915' '916' '917' '919' '920' '921'
 '922' '923' '924' '928' '933' '934' '935' '936' '939' '94' '941' '942'
 '944' '945' '952' '955' '957' '958' '959' '962' '963' '964' '965' '966'
 '967' '968' '969' '97' '970' '971' '972' '973' '974' '975' '976' '977'
 '98' '980' '982' '983' '986' '987' '988' '989' '990' '991' '992' '994'
 '995' '996' '997' '998' '999' '?' 'E909' 'V07' 'V25' 'V26' 'V43' 'V45'
 'V51' 'V53' 'V54' 'V55' 'V56' 'V57' 'V58' 'V60' 'V63' 'V66' 'V67' 'V70'
 'V71']
__diag_2:__
['11' '110' '111' '112' '114' '115' '117' '123' '130' '131' '135' '136'
 '137' '138' '140' '141' '145' '150' '151' '152' '153' '154' '155' '156'
 '157' '162' '163' '164' '171' '172' '173' '174' '179' '180' '182' '183'
 '185' '186' '188' '189' '191' '192' '193' '195' '196' '197' '198' '199'
 '200' '201' '202' '203' '204' '205' '208' '211' '212' '214' '215' '217'
 '218' '220' '223' '225' '226' '227' '228' '232' '233' '235' '238' '239'
 '240' '241' '242' '244' '245' '246' '250' '250.01' '250.02' '250.03'
 '250.1' '250.11' '250.12' '250.13' '250.2' '250.21' '250.22' '250.23'
 '250.3' '250.31' '250.32' '250.33' '250.4' '250.41' '250.42' '250.43'
 '250.5' '250.51' '250.52' '250.53' '250.6' '250.7' '250.8' '250.81'
 '250.82' '250.83' '250.9' '250.91' '250.92' '250.93' '251' '252' '253'
 '255' '256' '258' '259' '260' '261' '262' '263' '266' '268' '269' '27'
 '270' '271' '272' '273' '274' '275' '276' '277' '278' '279' '280' '281'
 '282' '283' '284' '285' '286' '287' '288' '289' '290' '291' '292' '293'
 '294' '295' '296' '297' '298' '299' '300' '301' '302' '303' '304' '305'
 '306' '307' '308' '309' '31' '310' '311' '312' '314' '316' '317' '318'
 '319' '320' '322' '323' '324' '325' '327' '331' '332' '333' '335' '336'
 '337' '338' '34' '340' '341' '342' '343' '344' '345' '346' '347' '348'
 '349' '35' '350' '351' '352' '353' '354' '355' '356' '357' '358' '359'
 '360' '362' '364' '365' '366' '368' '369' '372' '373' '374' '376' '377'
 '378' '379' '38' '380' '381' '382' '383' '386' '388' '389' '394' '395'
 '396' '397' '398' '40' '401' '402' '403' '404' '405' '41' '410' '411'
 '412' '413' '414' '415' '416' '42' '420' '421' '422' '423' '424' '425'
 '426' '427' '428' '429' '430' '431' '432' '433' '434' '435' '436' '437'
 '438' '440' '441' '442' '443' '444' '446' '447' '448' '451' '452' '453'
 '454' '455' '456' '457' '458' '459' '46' '460' '461' '462' '463' '464'
 '465' '466' '470' '472' '473' '474' '475' '477' '478' '480' '481' '482'
 '483' '484' '485' '486' '487' '490' '491' '492' '493' '494' '495' '496'
 '5' '500' '501' '506' '507' '508' '510' '511' '512' '513' '514' '515'
 '516' '517' '518' '519' '52' '520' '521' '522' '523' '524' '527' '528'
 '529' '53' '530' '531' '532' '533' '534' '535' '536' '537' '54' '540'
 '542' '543' '550' '552' '553' '555' '556' '557' '558' '560' '562' '564'
 '565' '566' '567' '568' '569' '570' '571' '572' '573' '574' '575' '576'
 '577' '578' '579' '580' '581' '583' '584' '585' '586' '588' '590' '591'
 '592' '593' '594' '595' '596' '598' '599' '600' '601' '602' '603' '604'
 '605' '607' '608' '610' '611' '614' '615' '616' '617' '618' '619' '620'
 '621' '622' '623' '625' '626' '627' '634' '641' '642' '644' '645' '646'
 '647' '648' '649' '652' '654' '656' '658' '659' '66' '661' '663' '664'
 '665' '670' '674' '680' '681' '682' '683' '684' '685' '686' '691' '692'
 '693' '694' '695' '696' '698' '7' '70' '701' '702' '703' '704' '705'
 '706' '707' '709' '710' '711' '712' '713' '714' '715' '716' '717' '718'
 '719' '721' '722' '723' '724' '725' '726' '727' '728' '729' '730' '731'
 '733' '734' '736' '737' '738' '741' '742' '745' '746' '747' '748' '75'
 '750' '751' '752' '753' '754' '755' '756' '758' '759' '78' '780' '781'
 '782' '783' '784' '785' '786' '787' '788' '789' '79' '790' '791' '792'
 '793' '794' '795' '796' '797' '799' '8' '800' '801' '802' '805' '806'
 '807' '808' '810' '811' '812' '813' '814' '815' '816' '820' '821' '822'
 '823' '824' '825' '826' '831' '832' '833' '836' '837' '840' '842' '843'
 '844' '845' '846' '847' '850' '851' '852' '853' '860' '861' '862' '863'
 '864' '865' '866' '867' '868' '869' '870' '871' '872' '873' '879' '88'
 '880' '881' '882' '883' '884' '891' '892' '893' '894' '9' '905' '906'
 '907' '908' '909' '910' '911' '912' '913' '915' '916' '917' '918' '919'
 '920' '921' '922' '923' '924' '927' '933' '934' '94' '942' '944' '945'
 '947' '948' '952' '953' '955' '958' '959' '96' '962' '963' '965' '967'
 '968' '969' '972' '974' '975' '977' '980' '987' '989' '99' '990' '991'
 '992' '994' '995' '996' '997' '998' '999' '?' 'E812' 'E813' 'E814' 'E816'
 'E817' 'E818' 'E819' 'E821' 'E826' 'E829' 'E849' 'E850' 'E853' 'E854'
 'E858' 'E868' 'E870' 'E878' 'E879' 'E880' 'E881' 'E882' 'E883' 'E884'
 'E885' 'E887' 'E888' 'E890' 'E900' 'E905' 'E906' 'E915' 'E916' 'E917'
 'E918' 'E919' 'E924' 'E927' 'E928' 'E929' 'E930' 'E931' 'E932' 'E933'
 'E934' 'E935' 'E936' 'E937' 'E938' 'E939' 'E941' 'E942' 'E944' 'E945'
 'E947' 'E950' 'E965' 'E968' 'E980' 'V02' 'V03' 'V08' 'V09' 'V10' 'V11'
 'V12' 'V13' 'V14' 'V15' 'V16' 'V17' 'V18' 'V23' 'V25' 'V42' 'V43' 'V44'
 'V45' 'V46' 'V49' 'V50' 'V53' 'V54' 'V55' 'V57' 'V58' 'V60' 'V61' 'V62'
 'V63' 'V64' 'V65' 'V66' 'V69' 'V70' 'V72' 'V85' 'V86']
__diag_3:__
['11' '110' '111' '112' '115' '117' '122' '123' '131' '132' '135' '136'
 '138' '139' '14' '141' '146' '148' '150' '151' '152' '153' '154' '155'
 '156' '157' '158' '161' '162' '163' '164' '17' '170' '171' '172' '173'
 '174' '175' '179' '180' '182' '183' '185' '186' '188' '189' '191' '192'
 '193' '195' '196' '197' '198' '199' '200' '201' '202' '203' '204' '205'
 '208' '211' '214' '215' '216' '217' '218' '220' '223' '225' '226' '227'
 '228' '230' '233' '235' '236' '238' '239' '240' '241' '242' '243' '244'
 '245' '246' '250' '250.01' '250.02' '250.03' '250.1' '250.11' '250.12'
 '250.13' '250.2' '250.21' '250.22' '250.23' '250.3' '250.31' '250.4'
 '250.41' '250.42' '250.43' '250.5' '250.51' '250.52' '250.53' '250.6'
 '250.7' '250.8' '250.81' '250.82' '250.83' '250.9' '250.91' '250.92'
 '250.93' '251' '252' '253' '255' '256' '258' '259' '260' '261' '262'
 '263' '265' '266' '268' '27' '270' '271' '272' '273' '274' '275' '276'
 '277' '278' '279' '280' '281' '282' '283' '284' '285' '286' '287' '288'
 '289' '290' '291' '292' '293' '294' '295' '296' '297' '298' '299' '3'
 '300' '301' '303' '304' '305' '306' '307' '308' '309' '310' '311' '312'
 '313' '314' '315' '317' '318' '319' '323' '327' '331' '332' '333' '334'
 '335' '336' '337' '338' '34' '340' '341' '342' '343' '344' '345' '346'
 '347' '348' '349' '35' '350' '351' '353' '354' '355' '356' '357' '358'
 '359' '360' '361' '362' '365' '365.44' '366' '368' '369' '370' '372'
 '373' '374' '376' '377' '378' '379' '38' '380' '381' '382' '383' '384'
 '385' '386' '387' '388' '389' '391' '394' '395' '396' '397' '398' '401'
 '402' '403' '404' '405' '41' '410' '411' '412' '413' '414' '415' '416'
 '417' '42' '420' '421' '423' '424' '425' '426' '427' '428' '429' '430'
 '431' '432' '433' '434' '435' '436' '437' '438' '440' '441' '442' '443'
 '444' '445' '446' '447' '448' '451' '452' '453' '454' '455' '456' '457'
 '458' '459' '460' '461' '462' '463' '464' '465' '466' '47' '470' '472'
 '473' '475' '477' '478' '480' '481' '482' '483' '484' '485' '486' '487'
 '49' '490' '491' '492' '493' '494' '495' '496' '5' '500' '501' '506'
 '507' '508' '510' '511' '512' '514' '515' '516' '517' '518' '519' '521'
 '522' '523' '524' '525' '527' '528' '529' '53' '530' '531' '532' '533'
 '534' '535' '536' '537' '538' '54' '540' '542' '543' '550' '552' '553'
 '555' '556' '557' '558' '560' '562' '564' '565' '566' '567' '568' '569'
 '57' '570' '571' '572' '573' '574' '575' '576' '577' '578' '579' '580'
 '581' '582' '583' '584' '585' '586' '588' '590' '591' '592' '593' '594'
 '595' '596' '597' '598' '599' '600' '601' '602' '603' '604' '605' '607'
 '608' '610' '611' '614' '616' '617' '618' '619' '620' '621' '622' '623'
 '624' '625' '626' '627' '641' '642' '643' '644' '646' '647' '648' '649'
 '652' '653' '654' '655' '656' '657' '658' '659' '66' '660' '661' '663'
 '664' '665' '669' '670' '671' '674' '680' '681' '682' '684' '685' '686'
 '690' '692' '693' '694' '695' '696' '697' '698' '7' '70' '701' '702'
 '703' '704' '705' '706' '707' '708' '709' '710' '711' '712' '713' '714'
 '715' '716' '717' '718' '719' '720' '721' '722' '723' '724' '725' '726'
 '727' '728' '729' '730' '731' '732' '733' '734' '735' '736' '737' '738'
 '741' '742' '744' '745' '746' '747' '75' '750' '751' '752' '753' '754'
 '755' '756' '757' '758' '759' '78' '780' '781' '782' '783' '784' '785'
 '786' '787' '788' '789' '79' '790' '791' '792' '793' '794' '795' '796'
 '797' '799' '8' '800' '801' '802' '805' '807' '808' '810' '811' '812'
 '813' '814' '815' '816' '820' '821' '822' '823' '824' '825' '826' '831'
 '834' '836' '837' '838' '840' '841' '842' '844' '845' '847' '848' '850'
 '851' '852' '853' '854' '860' '861' '862' '863' '864' '865' '866' '867'
 '868' '870' '871' '872' '873' '875' '876' '877' '879' '88' '880' '881'
 '882' '883' '884' '890' '891' '892' '893' '9' '905' '906' '907' '908'
 '909' '910' '911' '912' '913' '915' '916' '917' '918' '919' '920' '921'
 '922' '923' '924' '928' '930' '933' '934' '935' '94' '942' '943' '944'
 '945' '948' '951' '952' '953' '955' '956' '958' '959' '962' '965' '966'
 '967' '969' '970' '971' '972' '980' '987' '989' '991' '992' '995' '996'
 '997' '998' '999' '?' 'E812' 'E813' 'E815' 'E816' 'E817' 'E818' 'E819'
 'E822' 'E825' 'E826' 'E828' 'E849' 'E850' 'E852' 'E853' 'E854' 'E855'
 'E858' 'E861' 'E864' 'E865' 'E870' 'E876' 'E878' 'E879' 'E880' 'E881'
 'E882' 'E883' 'E884' 'E885' 'E886' 'E887' 'E888' 'E892' 'E894' 'E900'
 'E901' 'E904' 'E905' 'E906' 'E912' 'E915' 'E916' 'E917' 'E919' 'E920'
 'E922' 'E924' 'E927' 'E928' 'E929' 'E930' 'E931' 'E932' 'E933' 'E934'
 'E935' 'E936' 'E937' 'E938' 'E939' 'E941' 'E942' 'E943' 'E944' 'E945'
 'E946' 'E947' 'E949' 'E950' 'E955' 'E956' 'E965' 'E966' 'E980' 'E987'
 'V01' 'V02' 'V03' 'V06' 'V07' 'V08' 'V09' 'V10' 'V11' 'V12' 'V13' 'V14'
 'V15' 'V16' 'V17' 'V18' 'V22' 'V23' 'V25' 'V27' 'V42' 'V43' 'V44' 'V45'
 'V46' 'V49' 'V53' 'V54' 'V55' 'V57' 'V58' 'V60' 'V61' 'V62' 'V63' 'V64'
 'V65' 'V66' 'V70' 'V72' 'V85' 'V86']
__number_diagnoses:__
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]
__max_glu_serum:__
['>200' '>300' 'None' 'Norm']

__A1Cresult:__
['>7' '>8' 'None' 'Norm']
__metformin:__
['Down' 'No' 'Steady' 'Up']
__chlorpropamide:__
['Down' 'No' 'Steady' 'Up']
__glimepiride:__
['Down' 'No' 'Steady' 'Up']
__acetohexamide:__
['No' 'Steady']
__glipizide:__
['Down' 'No' 'Steady' 'Up']
__glyburide:__
['Down' 'No' 'Steady' 'Up']
__tolbutamide:__
['No' 'Steady']
__pioglitazone:__
['Down' 'No' 'Steady' 'Up']
__rosiglitazone:__
['Down' 'No' 'Steady' 'Up']
__acarbose:__
['Down' 'No' 'Steady' 'Up']
__miglitol:__
['Down' 'No' 'Steady' 'Up']
__troglitazone:__
['No' 'Steady']
__tolazamide:__
['No' 'Steady' 'Up']
__citoglipton:__
['No']
__insulin:__
['Down' 'No' 'Steady' 'Up']
__glyburide-metformin:__
['Down' 'No' 'Steady' 'Up']
__glipizide-metformin:__
['No' 'Steady']
__glimepiride-pioglitazone:__
['No' 'Steady']
__metformin-rosiglitazone:__
['No' 'Steady']
__metformin-pioglitazone:__
['No' 'Steady']
__change:__
['Ch' 'No']
__diabetesMed:__
['No' 'Yes']
__readmitted:__
['<30' '>30' 'NO']

#### Get clear numeric values for our values in the columms

__race:__
['?'= 0 'AfricanAmerican' = 1 'Asian' = 2 'Caucasian' = 3 'Hispanic' = 4 'Other' = 0]

__gender:__
['Female' = 0 'Male' = 1 'Unknown/Invalid' 2]

__age:__
['[0-10)' = 0 '[10-20)' = 10  '[20-30)' = 20 '[30-40)' = 30 '[40-50)' = 40 '[50-60)' = 50 '[60-70)' = 60
 '[70-80)' = 70 '[80-90)' = 80 '[90-100)' = 90]
 
__weight:__
['>200' = 220 '?' = deleted '[0-25)' = 25 '[100-125)' = 125 '[125-150)' = 150 '[150-175)' = 175 '[175-200)' = 200
 '[25-50)' = 50 '[50-75)' = 75 '[75-100)' = 100]
 
__admission_type_id:__
[1 2 3 4 5 6 7 8]

__discharge_disposition_id:__
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 22 23 24 25
 27 28]
 
__admission_source_id:__
[ 1  2  3  4  5  6  7  8  9 10 11 13 14 17 20 22 25]

__time_in_hospital:__
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14]

__payer_code:__
['?' 'BC' 'CH' 'CM' 'CP' 'DM' 'FR' 'HM' 'MC' 'MD' 'MP' 'OG' 'OT' 'PO' 'SI'
 'SP' 'UN' 'WC']
 
__medical_specialty:__
['?' = deleted 'AllergyandImmunology' = 1 'Anesthesiology' = 2 'Anesthesiology-Pediatric' = 3
 'Cardiology' = 4 'Cardiology-Pediatric' = 5 'DCPTEAM' = 6 'Dentistry' = 7 'Dermatology' = 8
 'Emergency/Trauma' = 9 'Endocrinology' = 10 'Endocrinology-Metabolism' = 11
 'Family/GeneralPractice' = 12 'Gastroenterology' = 13 'Gynecology' = 14 'Hematology' = 15
 'Hematology/Oncology' = 16 'Hospitalist' = 17 'InfectiousDiseases' = 18
 'InternalMedicine' = 19 'Nephrology' = 20 'Neurology' = 21 'Neurophysiology' = 22
 'Obsterics&Gynecology-GynecologicOnco' = 23 'Obstetrics' = 24
 'ObstetricsandGynecology' = 25 'Oncology' = 26 'Ophthalmology' = 27 'Orthopedics' = 28
 'Orthopedics-Reconstructive' = 29 'Osteopath' = 30 'Otolaryngology' = 31
 'OutreachServices' = 32 'Pathology' = 33 'Pediatrics' = 34
 'Pediatrics-AllergyandImmunology' = 35 'Pediatrics-CriticalCare' = 36
 'Pediatrics-EmergencyMedicine' = 37 'Pediatrics-Endocrinology' = 38
 'Pediatrics-Hematology-Oncology' = 39 'Pediatrics-InfectiousDiseases' = 40
 'Pediatrics-Neurology' = 41 'Pediatrics-Pulmonology' = 42 'Perinatology' = 43
 'PhysicalMedicineandRehabilitation' = 44 'PhysicianNotFound' = 45 'Podiatry' = 46
 'Proctology' 'Psychiatry' = 47 'Psychiatry-Addictive' = 48
 'Psychiatry-Child/Adolescent' = 49 'Psychology' = 50 'Pulmonology' = 51 'Radiologist' = 52
 'Radiology' = 53 'Resident' = 54 'Rheumatology' = 55 'Speech' = 56 'SportsMedicine' = 57 'Surgeon' = 58
 'Surgery-Cardiovascular' = 59 'Surgery-Cardiovascular/Thoracic' = 60
 'Surgery-Colon&Rectal' = 61 'Surgery-General' = 62 'Surgery-Maxillofacial' = 63
 'Surgery-Neuro' = 64 'Surgery-Pediatric' = 65 'Surgery-Plastic' = 66
 'Surgery-PlasticwithinHeadandNeck' = 67 'Surgery-Thoracic' = 68 'Surgery-Vascular' = 69
 'SurgicalSpecialty' = 70 'Urology' = 71]
 
__num_lab_procedures:__
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 111 113 114 118 120 121 126 129 132]
 
__num_procedures:__
[0 1 2 3 4 5 6]

__num_medications:__
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 72 74
 75 79 81]
 
__number_outpatient:__
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 33 34 35 36 37 38 39 40 42]
 
__number_emergency:__
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 18 19 20 21 22 24 25
 28 29 37 42 46 54 63 64 76]
 
__number_inpatient:__
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 21]

__diag_1:__
['10' '11' '110' '112' '114' '115' '117' '131' '133' '135' '136' '141'
 '142' '143' '145' '146' '147' '148' '149' '150' '151' '152' '153' '154'
 '155' '156' '157' '158' '160' '161' '162' '163' '164' '170' '171' '172'
 '173' '174' '175' '179' '180' '182' '183' '184' '185' '187' '188' '189'
 '191' '192' '193' '194' '195' '196' '197' '198' '199' '200' '201' '202'
 '203' '204' '205' '207' '208' '210' '211' '212' '214' '215' '216' '217'
 '218' '219' '220' '223' '225' '226' '227' '228' '229' '23' '230' '233'
 '235' '236' '237' '238' '239' '240' '241' '242' '244' '245' '246' '250'
 '250.01' '250.02' '250.03' '250.1' '250.11' '250.12' '250.13' '250.2'
 '250.21' '250.22' '250.23' '250.3' '250.31' '250.32' '250.33' '250.4'
 '250.41' '250.42' '250.43' '250.5' '250.51' '250.52' '250.53' '250.6'
 '250.7' '250.8' '250.81' '250.82' '250.83' '250.9' '250.91' '250.92'
 '250.93' '251' '252' '253' '255' '261' '262' '263' '266' '27' '271' '272'
 '273' '274' '275' '276' '277' '278' '279' '280' '281' '282' '283' '284'
 '285' '286' '287' '288' '289' '290' '291' '292' '293' '294' '295' '296'
 '297' '298' '299' '3' '300' '301' '303' '304' '305' '306' '307' '308'
 '309' '31' '310' '311' '312' '314' '318' '320' '322' '323' '324' '325'
 '327' '331' '332' '333' '334' '335' '336' '337' '338' '34' '340' '341'
 '342' '344' '345' '346' '347' '348' '349' '35' '350' '351' '352' '353'
 '354' '355' '356' '357' '358' '359' '36' '360' '361' '362' '363' '365'
 '366' '368' '369' '370' '372' '373' '374' '375' '376' '377' '378' '379'
 '38' '380' '381' '382' '383' '384' '385' '386' '388' '389' '39' '391'
 '394' '395' '396' '397' '398' '401' '402' '403' '404' '405' '41' '410'
 '411' '412' '413' '414' '415' '416' '417' '42' '420' '421' '422' '423'
 '424' '425' '426' '427' '428' '429' '430' '431' '432' '433' '434' '435'
 '436' '437' '438' '440' '441' '442' '443' '444' '445' '446' '447' '448'
 '451' '452' '453' '454' '455' '456' '457' '458' '459' '461' '462' '463'
 '464' '465' '466' '47' '470' '471' '473' '474' '475' '477' '478' '48'
 '480' '481' '482' '483' '485' '486' '487' '49' '490' '491' '492' '493'
 '494' '495' '496' '5' '500' '501' '506' '507' '508' '510' '511' '512'
 '513' '514' '515' '516' '518' '519' '52' '521' '522' '523' '524' '526'
 '527' '528' '529' '53' '530' '531' '532' '533' '534' '535' '536' '537'
 '54' '540' '541' '542' '543' '550' '551' '552' '553' '555' '556' '557'
 '558' '560' '562' '564' '565' '566' '567' '568' '569' '57' '570' '571'
 '572' '573' '574' '575' '576' '577' '578' '579' '58' '580' '581' '582'
 '583' '584' '585' '586' '588' '590' '591' '592' '593' '594' '595' '596'
 '598' '599' '600' '601' '602' '603' '604' '605' '607' '608' '61' '610'
 '611' '614' '615' '616' '617' '618' '619' '620' '621' '622' '623' '625'
 '626' '627' '632' '633' '634' '637' '640' '641' '642' '643' '644' '645'
 '646' '647' '648' '649' '652' '653' '654' '655' '656' '657' '658' '659'
 '66' '660' '661' '663' '664' '665' '669' '671' '674' '680' '681' '682'
 '683' '684' '685' '686' '690' '691' '692' '693' '694' '695' '696' '698'
 '7' '70' '700' '703' '704' '705' '706' '707' '708' '709' '710' '711'
 '714' '715' '716' '717' '718' '719' '720' '721' '722' '723' '724' '725'
 '726' '727' '728' '729' '730' '731' '732' '733' '734' '735' '736' '737'
 '738' '745' '746' '747' '75' '751' '753' '756' '759' '78' '780' '781'
 '782' '783' '784' '785' '786' '787' '788' '789' '79' '790' '791' '792'
 '793' '794' '795' '796' '797' '799' '8' '800' '801' '802' '803' '804'
 '805' '806' '807' '808' '810' '812' '813' '814' '815' '816' '817' '82'
 '820' '821' '822' '823' '824' '825' '826' '827' '831' '832' '833' '834'
 '835' '836' '837' '838' '839' '84' '840' '842' '843' '844' '845' '846'
 '847' '848' '850' '851' '852' '853' '854' '860' '861' '862' '863' '864'
 '865' '866' '867' '868' '870' '871' '873' '875' '878' '879' '88' '880'
 '881' '882' '883' '885' '886' '890' '891' '892' '893' '895' '897' '9'
 '903' '904' '906' '911' '913' '914' '915' '916' '917' '919' '920' '921'
 '922' '923' '924' '928' '933' '934' '935' '936' '939' '94' '941' '942'
 '944' '945' '952' '955' '957' '958' '959' '962' '963' '964' '965' '966'
 '967' '968' '969' '97' '970' '971' '972' '973' '974' '975' '976' '977'
 '98' '980' '982' '983' '986' '987' '988' '989' '990' '991' '992' '994'
 '995' '996' '997' '998' '999' '?' 'E909' 'V07' 'V25' 'V26' 'V43' 'V45'
 'V51' 'V53' 'V54' 'V55' 'V56' 'V57' 'V58' 'V60' 'V63' 'V66' 'V67' 'V70'
 'V71']
 
__diag_2:__
['11' '110' '111' '112' '114' '115' '117' '123' '130' '131' '135' '136'
 '137' '138' '140' '141' '145' '150' '151' '152' '153' '154' '155' '156'
 '157' '162' '163' '164' '171' '172' '173' '174' '179' '180' '182' '183'
 '185' '186' '188' '189' '191' '192' '193' '195' '196' '197' '198' '199'
 '200' '201' '202' '203' '204' '205' '208' '211' '212' '214' '215' '217'
 '218' '220' '223' '225' '226' '227' '228' '232' '233' '235' '238' '239'
 '240' '241' '242' '244' '245' '246' '250' '250.01' '250.02' '250.03'
 '250.1' '250.11' '250.12' '250.13' '250.2' '250.21' '250.22' '250.23'
 '250.3' '250.31' '250.32' '250.33' '250.4' '250.41' '250.42' '250.43'
 '250.5' '250.51' '250.52' '250.53' '250.6' '250.7' '250.8' '250.81'
 '250.82' '250.83' '250.9' '250.91' '250.92' '250.93' '251' '252' '253'
 '255' '256' '258' '259' '260' '261' '262' '263' '266' '268' '269' '27'
 '270' '271' '272' '273' '274' '275' '276' '277' '278' '279' '280' '281'
 '282' '283' '284' '285' '286' '287' '288' '289' '290' '291' '292' '293'
 '294' '295' '296' '297' '298' '299' '300' '301' '302' '303' '304' '305'
 '306' '307' '308' '309' '31' '310' '311' '312' '314' '316' '317' '318'
 '319' '320' '322' '323' '324' '325' '327' '331' '332' '333' '335' '336'
 '337' '338' '34' '340' '341' '342' '343' '344' '345' '346' '347' '348'
 '349' '35' '350' '351' '352' '353' '354' '355' '356' '357' '358' '359'
 '360' '362' '364' '365' '366' '368' '369' '372' '373' '374' '376' '377'
 '378' '379' '38' '380' '381' '382' '383' '386' '388' '389' '394' '395'
 '396' '397' '398' '40' '401' '402' '403' '404' '405' '41' '410' '411'
 '412' '413' '414' '415' '416' '42' '420' '421' '422' '423' '424' '425'
 '426' '427' '428' '429' '430' '431' '432' '433' '434' '435' '436' '437'
 '438' '440' '441' '442' '443' '444' '446' '447' '448' '451' '452' '453'
 '454' '455' '456' '457' '458' '459' '46' '460' '461' '462' '463' '464'
 '465' '466' '470' '472' '473' '474' '475' '477' '478' '480' '481' '482'
 '483' '484' '485' '486' '487' '490' '491' '492' '493' '494' '495' '496'
 '5' '500' '501' '506' '507' '508' '510' '511' '512' '513' '514' '515'
 '516' '517' '518' '519' '52' '520' '521' '522' '523' '524' '527' '528'
 '529' '53' '530' '531' '532' '533' '534' '535' '536' '537' '54' '540'
 '542' '543' '550' '552' '553' '555' '556' '557' '558' '560' '562' '564'
 '565' '566' '567' '568' '569' '570' '571' '572' '573' '574' '575' '576'
 '577' '578' '579' '580' '581' '583' '584' '585' '586' '588' '590' '591'
 '592' '593' '594' '595' '596' '598' '599' '600' '601' '602' '603' '604'
 '605' '607' '608' '610' '611' '614' '615' '616' '617' '618' '619' '620'
 '621' '622' '623' '625' '626' '627' '634' '641' '642' '644' '645' '646'
 '647' '648' '649' '652' '654' '656' '658' '659' '66' '661' '663' '664'
 '665' '670' '674' '680' '681' '682' '683' '684' '685' '686' '691' '692'
 '693' '694' '695' '696' '698' '7' '70' '701' '702' '703' '704' '705'
 '706' '707' '709' '710' '711' '712' '713' '714' '715' '716' '717' '718'
 '719' '721' '722' '723' '724' '725' '726' '727' '728' '729' '730' '731'
 '733' '734' '736' '737' '738' '741' '742' '745' '746' '747' '748' '75'
 '750' '751' '752' '753' '754' '755' '756' '758' '759' '78' '780' '781'
 '782' '783' '784' '785' '786' '787' '788' '789' '79' '790' '791' '792'
 '793' '794' '795' '796' '797' '799' '8' '800' '801' '802' '805' '806'
 '807' '808' '810' '811' '812' '813' '814' '815' '816' '820' '821' '822'
 '823' '824' '825' '826' '831' '832' '833' '836' '837' '840' '842' '843'
 '844' '845' '846' '847' '850' '851' '852' '853' '860' '861' '862' '863'
 '864' '865' '866' '867' '868' '869' '870' '871' '872' '873' '879' '88'
 '880' '881' '882' '883' '884' '891' '892' '893' '894' '9' '905' '906'
 '907' '908' '909' '910' '911' '912' '913' '915' '916' '917' '918' '919'
 '920' '921' '922' '923' '924' '927' '933' '934' '94' '942' '944' '945'
 '947' '948' '952' '953' '955' '958' '959' '96' '962' '963' '965' '967'
 '968' '969' '972' '974' '975' '977' '980' '987' '989' '99' '990' '991'
 '992' '994' '995' '996' '997' '998' '999' '?' 'E812' 'E813' 'E814' 'E816'
 'E817' 'E818' 'E819' 'E821' 'E826' 'E829' 'E849' 'E850' 'E853' 'E854'
 'E858' 'E868' 'E870' 'E878' 'E879' 'E880' 'E881' 'E882' 'E883' 'E884'
 'E885' 'E887' 'E888' 'E890' 'E900' 'E905' 'E906' 'E915' 'E916' 'E917'
 'E918' 'E919' 'E924' 'E927' 'E928' 'E929' 'E930' 'E931' 'E932' 'E933'
 'E934' 'E935' 'E936' 'E937' 'E938' 'E939' 'E941' 'E942' 'E944' 'E945'
 'E947' 'E950' 'E965' 'E968' 'E980' 'V02' 'V03' 'V08' 'V09' 'V10' 'V11'
 'V12' 'V13' 'V14' 'V15' 'V16' 'V17' 'V18' 'V23' 'V25' 'V42' 'V43' 'V44'
 'V45' 'V46' 'V49' 'V50' 'V53' 'V54' 'V55' 'V57' 'V58' 'V60' 'V61' 'V62'
 'V63' 'V64' 'V65' 'V66' 'V69' 'V70' 'V72' 'V85' 'V86']
 
__diag_3:__
['11' '110' '111' '112' '115' '117' '122' '123' '131' '132' '135' '136'
 '138' '139' '14' '141' '146' '148' '150' '151' '152' '153' '154' '155'
 '156' '157' '158' '161' '162' '163' '164' '17' '170' '171' '172' '173'
 '174' '175' '179' '180' '182' '183' '185' '186' '188' '189' '191' '192'
 '193' '195' '196' '197' '198' '199' '200' '201' '202' '203' '204' '205'
 '208' '211' '214' '215' '216' '217' '218' '220' '223' '225' '226' '227'
 '228' '230' '233' '235' '236' '238' '239' '240' '241' '242' '243' '244'
 '245' '246' '250' '250.01' '250.02' '250.03' '250.1' '250.11' '250.12'
 '250.13' '250.2' '250.21' '250.22' '250.23' '250.3' '250.31' '250.4'
 '250.41' '250.42' '250.43' '250.5' '250.51' '250.52' '250.53' '250.6'
 '250.7' '250.8' '250.81' '250.82' '250.83' '250.9' '250.91' '250.92'
 '250.93' '251' '252' '253' '255' '256' '258' '259' '260' '261' '262'
 '263' '265' '266' '268' '27' '270' '271' '272' '273' '274' '275' '276'
 '277' '278' '279' '280' '281' '282' '283' '284' '285' '286' '287' '288'
 '289' '290' '291' '292' '293' '294' '295' '296' '297' '298' '299' '3'
 '300' '301' '303' '304' '305' '306' '307' '308' '309' '310' '311' '312'
 '313' '314' '315' '317' '318' '319' '323' '327' '331' '332' '333' '334'
 '335' '336' '337' '338' '34' '340' '341' '342' '343' '344' '345' '346'
 '347' '348' '349' '35' '350' '351' '353' '354' '355' '356' '357' '358'
 '359' '360' '361' '362' '365' '365.44' '366' '368' '369' '370' '372'
 '373' '374' '376' '377' '378' '379' '38' '380' '381' '382' '383' '384'
 '385' '386' '387' '388' '389' '391' '394' '395' '396' '397' '398' '401'
 '402' '403' '404' '405' '41' '410' '411' '412' '413' '414' '415' '416'
 '417' '42' '420' '421' '423' '424' '425' '426' '427' '428' '429' '430'
 '431' '432' '433' '434' '435' '436' '437' '438' '440' '441' '442' '443'
 '444' '445' '446' '447' '448' '451' '452' '453' '454' '455' '456' '457'
 '458' '459' '460' '461' '462' '463' '464' '465' '466' '47' '470' '472'
 '473' '475' '477' '478' '480' '481' '482' '483' '484' '485' '486' '487'
 '49' '490' '491' '492' '493' '494' '495' '496' '5' '500' '501' '506'
 '507' '508' '510' '511' '512' '514' '515' '516' '517' '518' '519' '521'
 '522' '523' '524' '525' '527' '528' '529' '53' '530' '531' '532' '533'
 '534' '535' '536' '537' '538' '54' '540' '542' '543' '550' '552' '553'
 '555' '556' '557' '558' '560' '562' '564' '565' '566' '567' '568' '569'
 '57' '570' '571' '572' '573' '574' '575' '576' '577' '578' '579' '580'
 '581' '582' '583' '584' '585' '586' '588' '590' '591' '592' '593' '594'
 '595' '596' '597' '598' '599' '600' '601' '602' '603' '604' '605' '607'
 '608' '610' '611' '614' '616' '617' '618' '619' '620' '621' '622' '623'
 '624' '625' '626' '627' '641' '642' '643' '644' '646' '647' '648' '649'
 '652' '653' '654' '655' '656' '657' '658' '659' '66' '660' '661' '663'
 '664' '665' '669' '670' '671' '674' '680' '681' '682' '684' '685' '686'
 '690' '692' '693' '694' '695' '696' '697' '698' '7' '70' '701' '702'
 '703' '704' '705' '706' '707' '708' '709' '710' '711' '712' '713' '714'
 '715' '716' '717' '718' '719' '720' '721' '722' '723' '724' '725' '726'
 '727' '728' '729' '730' '731' '732' '733' '734' '735' '736' '737' '738'
 '741' '742' '744' '745' '746' '747' '75' '750' '751' '752' '753' '754'
 '755' '756' '757' '758' '759' '78' '780' '781' '782' '783' '784' '785'
 '786' '787' '788' '789' '79' '790' '791' '792' '793' '794' '795' '796'
 '797' '799' '8' '800' '801' '802' '805' '807' '808' '810' '811' '812'
 '813' '814' '815' '816' '820' '821' '822' '823' '824' '825' '826' '831'
 '834' '836' '837' '838' '840' '841' '842' '844' '845' '847' '848' '850'
 '851' '852' '853' '854' '860' '861' '862' '863' '864' '865' '866' '867'
 '868' '870' '871' '872' '873' '875' '876' '877' '879' '88' '880' '881'
 '882' '883' '884' '890' '891' '892' '893' '9' '905' '906' '907' '908'
 '909' '910' '911' '912' '913' '915' '916' '917' '918' '919' '920' '921'
 '922' '923' '924' '928' '930' '933' '934' '935' '94' '942' '943' '944'
 '945' '948' '951' '952' '953' '955' '956' '958' '959' '962' '965' '966'
 '967' '969' '970' '971' '972' '980' '987' '989' '991' '992' '995' '996'
 '997' '998' '999' '?' 'E812' 'E813' 'E815' 'E816' 'E817' 'E818' 'E819'
 'E822' 'E825' 'E826' 'E828' 'E849' 'E850' 'E852' 'E853' 'E854' 'E855'
 'E858' 'E861' 'E864' 'E865' 'E870' 'E876' 'E878' 'E879' 'E880' 'E881'
 'E882' 'E883' 'E884' 'E885' 'E886' 'E887' 'E888' 'E892' 'E894' 'E900'
 'E901' 'E904' 'E905' 'E906' 'E912' 'E915' 'E916' 'E917' 'E919' 'E920'
 'E922' 'E924' 'E927' 'E928' 'E929' 'E930' 'E931' 'E932' 'E933' 'E934'
 'E935' 'E936' 'E937' 'E938' 'E939' 'E941' 'E942' 'E943' 'E944' 'E945'
 'E946' 'E947' 'E949' 'E950' 'E955' 'E956' 'E965' 'E966' 'E980' 'E987'
 'V01' 'V02' 'V03' 'V06' 'V07' 'V08' 'V09' 'V10' 'V11' 'V12' 'V13' 'V14'
 'V15' 'V16' 'V17' 'V18' 'V22' 'V23' 'V25' 'V27' 'V42' 'V43' 'V44' 'V45'
 'V46' 'V49' 'V53' 'V54' 'V55' 'V57' 'V58' 'V60' 'V61' 'V62' 'V63' 'V64'
 'V65' 'V66' 'V70' 'V72' 'V85' 'V86']
 
__number_diagnoses:__
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]

__max_glu_serum:__
['>200' '>300' 'None' 'Norm']

__A1Cresult:__
['>7' '>8' 'None' 'Norm']

__metformin:__
['Down' 'No' 'Steady' 'Up']

__chlorpropamide:__
['Down' 'No' 'Steady' 'Up']

__glimepiride:__
['Down' 'No' 'Steady' 'Up']

__acetohexamide:__
['No' 'Steady']

__glipizide:__
['Down' 'No' 'Steady' 'Up']

__glyburide:__
['Down' 'No' 'Steady' 'Up']

__tolbutamide:__
['No' 'Steady']

__pioglitazone:__
['Down' 'No' 'Steady' 'Up']

__rosiglitazone:__
['Down' 'No' 'Steady' 'Up']

__acarbose:__
['Down' 'No' 'Steady' 'Up']

__miglitol:__
['Down' 'No' 'Steady' 'Up']

__troglitazone:__
['No' 'Steady']

__tolazamide:__
['No' 'Steady' 'Up']

__citoglipton:__
['No']

__insulin:__
['Down' 'No' 'Steady' 'Up']

__glyburide-metformin:__
['Down' 'No' 'Steady' 'Up']

__glipizide-metformin:__
['No' 'Steady']

__glimepiride-pioglitazone:__
['No' 'Steady']

__metformin-rosiglitazone:__
['No' 'Steady']

__metformin-pioglitazone:__
['No' 'Steady']

__change:__
['Ch' 'No']

__diabetesMed:__
['No' = 0 'Yes' = 1]

__readmitted:__
['<30' '>30' 'NO']

In [10]:
#Change race type
#['?'= 0 'AfricanAmerican' = 1 'Asian' = 2 'Caucasian' = 3 'Hispanic' = 4 'Other' = 0]
df['race'] = df['race'].map({'?': 0, 'AfricanAmerican': 1,'Asian': 2,'Caucasian': 3,'Hispanic': 4,'Other': 0})
df.to_csv("diabetic_data_change-race.csv", sep=',', index=False)
df = pd.read_csv("diabetic_data_change-race.csv", delimiter=',')
df.dtypes
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,3,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,3,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,1,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,3,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,3,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [11]:
# Change gender type
#['Female' = 0 'Male' = 1 'Unknown/Invalid' 2]
df['gender'] = df['gender'].map({'Female': 0, 'Male': 1,'Unknown/Invalid': 2})
df.to_csv("diabetic_data_change-gender.csv", sep=',', index=False)
df = pd.read_csv("diabetic_data_change-gender.csv", delimiter=',')
df.dtypes
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,3,0,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,3,0,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,1,0,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,3,1,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,3,1,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [12]:
# Change age:
#['[0-10)' = 0 '[10-20)' = 10  '[20-30)' = 20 '[30-40)' = 30 '[40-50)' = 40 '[50-60)' = 50 '[60-70)' = 60
#'[70-80)' = 70 '[80-90)' = 80 '[90-100)' = 90]
df['age'] = df['age'].map({'[0-10)': 0, '[10-20)': 10,'[20-30)': 20,'[30-40)': 30,'[40-50)': 40,'[50-60)': 50,'[60-70)': 60,'[70-80)': 70,'[80-90)': 80,'[90-100)': 90})
df.to_csv("diabetic_data_change-age.csv", sep=',', index=False)
df = pd.read_csv("diabetic_data_change-age.csv", delimiter=',')
df.dtypes
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,3,0,0,?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,3,0,10,?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,1,0,20,?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,3,1,30,?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,3,1,40,?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [22]:
df.dtypes

encounter_id                  int64
patient_nbr                   int64
race                          int64
gender                        int64
age                           int64
weight                      float64
admission_type_id             int64
discharge_disposition_id      int64
admission_source_id           int64
time_in_hospital              int64
payer_code                   object
medical_specialty           float64
num_lab_procedures            int64
num_procedures                int64
num_medications               int64
number_outpatient             int64
number_emergency              int64
number_inpatient              int64
diag_1                       object
diag_2                       object
diag_3                       object
number_diagnoses              int64
max_glu_serum                object
A1Cresult                    object
metformin                    object
repaglinide                  object
nateglinide                  object
chlorpropamide               object
glimepiride                  object
acetohexamide                object
glipizide                    object
glyburide                    object
tolbutamide                  object
pioglitazone                 object
rosiglitazone                object
acarbose                     object
miglitol                     object
troglitazone                 object
tolazamide                   object
examide                      object
citoglipton                  object
insulin                      object
glyburide-metformin          object
glipizide-metformin          object
glimepiride-pioglitazone     object
metformin-rosiglitazone      object
metformin-pioglitazone       object
change                       object
diabetesMed                  object
readmitted                   object
dtype: object

In [23]:
df[df.weight != ?]
df.head()
#change weight
#['>200' = 220 '?' = deleted '[0-25)' = 25 '[100-125)' = 125 '[125-150)' = 150 '[150-175)' = 175 '[175-200)' = 200
#'[25-50)' = 50 '[50-75)' = 75 '[75-100)' = 100]
df['weight'] = df['weight'].map({'>200': 210, '[0-25)': 25,'[100-125)': 125,'[125-150)': 150,'[150-175)': 175,'[175-200)': 0,'[25-50)': 0,'[50-75)': 0,'[75-100)': 0})
df.to_csv("diabetic_data_change-weight.csv", sep=',', index=False)
df = pd.read_csv("diabetic_data_change-weight.csv", delimiter=',')
df.dtypes
df.head()

SyntaxError: invalid syntax (<ipython-input-23-596eab42e88b>, line 1)

In [15]:
#medical_specialty:
#['?' = deleted 'AllergyandImmunology' = 1 'Anesthesiology' = 2 'Anesthesiology-Pediatric' = 3
#'Cardiology' = 4 'Cardiology-Pediatric' = 5 'DCPTEAM' = 6 'Dentistry' = 7 'Dermatology' = 8
#'Emergency/Trauma' = 9 'Endocrinology' = 10 'Endocrinology-Metabolism' = 11
#'Family/GeneralPractice' = 12 'Gastroenterology' = 13 'Gynecology' = 14 'Hematology' = 15
#'Hematology/Oncology' = 16 'Hospitalist' = 17 'InfectiousDiseases' = 18
#'InternalMedicine' = 19 'Nephrology' = 20 'Neurology' = 21 'Neurophysiology' = 22
#'Obsterics&Gynecology-GynecologicOnco' = 23 'Obstetrics' = 24
#'ObstetricsandGynecology' = 25 'Oncology' = 26 'Ophthalmology' = 27 'Orthopedics' = 28
#'Orthopedics-Reconstructive' = 29 'Osteopath' = 30 'Otolaryngology' = 31
#'OutreachServices' = 32 'Pathology' = 33 'Pediatrics' = 34
#'Pediatrics-AllergyandImmunology' = 35 'Pediatrics-CriticalCare' = 36
#'Pediatrics-EmergencyMedicine' = 37 'Pediatrics-Endocrinology' = 38
#'Pediatrics-Hematology-Oncology' = 39 'Pediatrics-InfectiousDiseases' = 40
#'Pediatrics-Neurology' = 41 'Pediatrics-Pulmonology' = 42 'Perinatology' = 43
#'PhysicalMedicineandRehabilitation' = 44 'PhysicianNotFound' = 45 'Podiatry' = 46
#'Proctology' 'Psychiatry' = 47 'Psychiatry-Addictive' = 48
#'Psychiatry-Child/Adolescent' = 49 'Psychology' = 50 'Pulmonology' = 51 'Radiologist' = 52
#'Radiology' = 53 'Resident' = 54 'Rheumatology' = 55 'Speech' = 56 'SportsMedicine' = 57 'Surgeon' = 58
#'Surgery-Cardiovascular' = 59 'Surgery-Cardiovascular/Thoracic' = 60
#'Surgery-Colon&Rectal' = 61 'Surgery-General' = 62 'Surgery-Maxillofacial' = 63
#'Surgery-Neuro' = 64 'Surgery-Pediatric' = 65 'Surgery-Plastic' = 66
#'Surgery-PlasticwithinHeadandNeck' = 67 'Surgery-Thoracic' = 68 'Surgery-Vascular' = 69
#'SurgicalSpecialty' = 70 'Urology' = 71]
df['medical_specialty'] = df['medical_specialty'].map({'AllergyandImmunology' : 1, 'Anesthesiology' : 2, 'Anesthesiology-Pediatric' : 3,
    'Cardiology' : 4, 'Cardiology-Pediatric' : 5, 'DCPTEAM' : 6, 'Dentistry' : 7, 'Dermatology' : 8,
    'Emergency/Trauma' : 9, 'Endocrinology' : 10, 'Endocrinology-Metabolism' : 11,
    'Family/GeneralPractice' : 12, 'Gastroenterology' : 13, 'Gynecology' : 14, 'Hematology' : 15,
    'Hematology/Oncology' : 16, 'Hospitalist' : 17, 'InfectiousDiseases' : 18,
    'InternalMedicine' : 19, 'Nephrology' : 20, 'Neurology' : 21, 'Neurophysiology' : 22,
    'Obsterics&Gynecology-GynecologicOnco' : 23, 'Obstetrics' : 24,
    'ObstetricsandGynecology' : 25, 'Oncology' : 26, 'Ophthalmology' : 27, 'Orthopedics' : 28,
    'Orthopedics-Reconstructive' : 29, 'Osteopath' : 30, 'Otolaryngology' : 31,
    'OutreachServices' : 32, 'Pathology' : 33, 'Pediatrics' : 34,
    'Pediatrics-AllergyandImmunology' : 35, 'Pediatrics-CriticalCare' : 36,
    'Pediatrics-EmergencyMedicine' : 37, 'Pediatrics-Endocrinology' : 38,
    'Pediatrics-Hematology-Oncology' : 39, 'Pediatrics-InfectiousDiseases' : 40,
    'Pediatrics-Neurology' : 41, 'Pediatrics-Pulmonology' : 42, 'Perinatology' : 43,
    'PhysicalMedicineandRehabilitation' : 44, 'PhysicianNotFound' : 45, 'Podiatry' : 46,
    'Proctology' 'Psychiatry' : 47, 'Psychiatry-Addictive' : 48,
    'Psychiatry-Child/Adolescent' : 49, 'Psychology' : 50, 'Pulmonology' : 51, 'Radiologist' : 52,
    'Radiology' : 53, 'Resident' : 54, 'Rheumatology' : 55, 'Speech' : 56, 'SportsMedicine' : 57, 'Surgeon' : 58,
    'Surgery-Cardiovascular' : 59, 'Surgery-Cardiovascular/Thoracic' : 60,
    'Surgery-Colon&Rectal' : 61, 'Surgery-General' : 62, 'Surgery-Maxillofacial' : 63,
    'Surgery-Neuro' : 64, 'Surgery-Pediatric' : 65, 'Surgery-Plastic' : 66,
    'Surgery-PlasticwithinHeadandNeck' : 67, 'Surgery-Thoracic' : 68, 'Surgery-Vascular' : 69,
    'SurgicalSpecialty' : 70, 'Urology' : 71})
df.to_csv("diabetic_data_change-medical_specialty.csv", sep=',', index=False)
df = pd.read_csv("diabetic_data_change-medical_specialty.csv", delimiter=',')
df.dtypes
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,3,0,0,NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,3,0,10,NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,1,0,20,NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,3,1,30,NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,3,1,40,NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO